body{
	background-color: rgb(139, 43, 107);
	color: aliceblue;
}
h2{
	text-align: center;
}
.photo-frame {
	position: relative;
	width: 450px;
	height: 300px;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
}

.image-container {
	width: 49%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}

.image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.frame-border {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 25px solid #f70505;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

